<div class="equip-item-enlarged" [ngClass]="{'visible': (item | async).name}">
  <ng-container *ngIf="(item | async)">
    <div class="close-enlarged-item"
      *ngIf="(item | async).name"
      (click)="closeEnlarged()">
      <img src="../../assets/images/close.png" />
    </div>

    <div class="enlarged-item-inner">
      <h1>{{ (item | async).name.toUpperCase() }}</h1>
      <div class="img-container">
          <img [src]="(item | async).imageUrl" />
      </div>

      <div class="chest-button"
        *ngIf="(item | async).type == 'chest'"
        (click)="openChest()">
        <p>OTWÓRZ SKRZYNKĘ</p>
      </div>
      <div class="display-key" *ngIf="(item | async).key">
        <p>{{ (item | async).key }}</p>
      </div>
    </div>
    </ng-container>
</div>
