@import '../../scss/properties.scss';

.equip-item{
    width: $gh-item-size;
    height: $gh-item-size;
    border: $gh-item-border solid $gh-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p{
      color: white;
    }
    &.selected {
      border-color: $gh-yellow;
    }
}
